---
export interface Props {
	heading: string;
}

const { heading } = Astro.props;
---

<div>
  <h2>{heading}</h2>
</div>

<style>
h2 {
	font-family: "EB Garamond", Garamond, serif;
  font-size: clamp(1.5rem, 4vw, 6rem);
  font-weight: normal;
}
</style>